.sidebar .itemList {
    overflow-y: auto;
    /* TODO: Hack - Fix scrollable sidebar */
    height: calc(100% - 53px);
}

.sidebar .itemList::-webkit-scrollbar {
    display: none;
}

.sidebar .item {
    padding: 10px 10px 20px 20px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    cursor: pointer;
    border-left: 6px solid transparent;
    transition: border-color 0.2s ease-in;
}

.sidebar .item:hover {
    background-color: white;
}

.sidebar .item.selected {
    border-left: 6px solid red;
    background-color: white;
}

.sidebar .item .title {
    font-weight: bold;
    font-size: 1.1em;
}

.sidebar .title .delete {
    float: right;
    color: #A3Abb3;
    cursor: pointer;
    -webkit-transition:color 0.2s ease-in;
}

.sidebar .title .delete:hover {
    color: red;
}

.sidebar .item .date {
    color: #A3ABB3;
}

.sidebar .item .body {
    color: #A3ABB3;
    height: 2em;
    line-height: 1.5em;
}

.sidebar .actionBar {
    border-bottom: 1px solid #ddd;
    display: table;
    border-spacing: 10px;
    width: 100%;
}

.sidebar .actionBar .icon {
    display: table-cell;
    color: #A3ABB3;
    cursor: pointer;
    -webkit-transition:color 0.2s ease-in;
}

.sidebar .actionBar .icon:hover {
    color: inherit;
}

.sidebar .actionBar input {
    display: table-cell;
    font-family: inherit;
    outline: none;
    font-size: 100%;
    border: solid 1px #ccc;
    border-radius: 5px;
    color: #A3ABB3;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.sidebar .actionBar input::-webkit-search-decoration, input::-webkit-search-cancel-button {
	display: none;
}
